body{
  margin: 0;
  padding: 0;
  /* background: rgb(36,30,0); */
  background: linear-gradient(90deg, rgba(36,30,0,1) 0%, rgba(250,46,1,1) 0%, rgba(241,255,0,1) 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  /* border: 1px solid black; */
  padding: 20px;
  width: 90%;
  max-width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 13px;
  border-radius: 10px;
}

.container>.btn{
  width: 80%;
  height: 35px;
  width: 300px;
  text-transform: uppercase;
  background-color: darksalmon;
  color: white;
  font-size: medium;
  font-weight: 700;
  border-radius: 15px;
}

.container>.btn:hover{
  background-color: red;
  cursor: pointer;
  color: yellowgreen;
  transition: all 350ms ease;
}


 